@page "/register"
@using FutsalApi.UI.Shared.Services
@using FutsalApi.UI.Shared.Models
@inject AuthService AuthService
@inject NavigationManager NavigationManager

<h1>Register</h1>

<div class="card">
    <div class="card-body">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" @bind="registerRequest.Email" />
        </div>

        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" @bind="registerRequest.FirstName" />
        </div>

        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" @bind="registerRequest.LastName" />
        </div>

        <div class="form-group">
            <label for="userName">Username (optional)</label>
            <input type="text" class="form-control" id="userName" @bind="registerRequest.UserName" />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" @bind="registerRequest.Password" />
        </div>

        <button class="btn btn-primary" @onclick="Register">Register</button>
    </div>
</div>

@code {
    private FutsalApi.UI.Shared.Models.RegisterRequest registerRequest = new FutsalApi.UI.Shared.Models.RegisterRequest();

    private async Task Register()
    {
        var result = await AuthService.Register(registerRequest);
        if (result)
        {
            NavigationManager.NavigateTo("/login");
        }
    }
}
